
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.main-wrapper {
  background: #fff;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  height: 412px;
  margin-top: -206px;
  position: fixed;
  top: 50%;
  width: 632px;
}

.history {
  background: #fff;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  height: 412px;
  right: 50%;
  margin-top: -206px;
  margin-right: -514px;
  position: fixed;
  top: 50%;
  width: 350px;
  overflow: auto;

  h3 {
    padding: 10px 0 0 10px;
  }

  .table {
    width: 350px;
  }
}

.main-header {
  height: 128px;
  position: relative;
  table {
    left: 50%;
    margin-top: -18px;
    margin-left: -200px;
    position: absolute;
    top: 50%;
    width: 400px;
    td {
      background: #fff;
      border-bottom: 2px solid transparent;
      box-shadow: 0 1px 1px rgba(0,0,0,.16);
      height: 36px;
      padding: 0;
      width: 188px;
      &.active {
        border-bottom-color: $blue;
        box-shadow: 0 4px 5px rgba(0,0,0,.16);
      }
      &.interlayer {
        background: transparent;
        box-shadow: none;
        width: 16px;
      }
      div {
        width: 18px;
        margin-left: 10px;
      }
    }
  }
  p {
    position: absolute;
    text-align: center;
    top: 93px;
    width: 100%;
    svg {
      font-size: 12px;
      margin-top: -2px;
    }
  }
  svg {
    height: 1em;
    margin: 1px;
    width: 1em;
  }
}

.hFJ9Ve {
  fill: none;
  stroke: black;
  stroke-width: 16px;
  transition: stroke-dashoffset 0.225s cubic-bezier(0.4,0,0.2,1);
  -webkit-transition: stroke-dashoffset 0.225s cubic-bezier(0.4,0,0.2,1);
}

.playing-field {
  background-color: $blue;
  height: 236px;
  table {
    left: 50%;
    margin-left: -102px;
    margin-top: -56px;
    position: absolute;
    top: 50%;
    tr {
      td {
        border: 8px solid #555;
        cursor: pointer;
        height: 68px;
        padding: 8px;
        position: relative;
        vertical-align: top;
        width: 68px;
        svg {
          position: absolute;
        }
        &.top.left {
          border-top: none;
          border-left: none;
        }
        &.top {
          border-top: none;
        }
        &.top.right {
          border-top: none;
          border-right: none;
        }
        &.middle.left {
          border-left: none;
        }
        &.middle.right {
          border-right: none;
        }
        &.bottom.left {
          border-bottom: none;
          border-left: none;
        }
        &.bottom {
          border-bottom: none;
        }
        &.bottom.right {
          border-bottom: none;
          border-right: none;
        }
      }
    }
  }
}

.repeat-play {
  color: $blue;
  cursor: pointer;
  font-weight: bold;
  height: 48px;
  padding: 13px 0;
  text-transform: uppercase;
  text-align: center;
}

html, body {
  background-color: $body-bg;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}